<div class="jumbotron">
    <h1 class="display-4">Recargas Online!</h1>
    <p class="lead">
        Este es un sistema de recargas online que permite el analisis del numero de recargas realizadas, ya sea por la tarifa de recargas mas usadas y las compañias telefonicas a las cuales se hacen dichas recargas.
    </p>
    <hr class="my-4">
    <p>Usa nuestra plataforma para realizar recargas a celulares de cualquier compañia.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/registro" role="button">Realizar recarga</a>
    </p>
</div>